body {
    text-align: center;
    background-color:rgba(21, 67, 101, 0.8);
}

.App {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(169, 198, 238, 1);
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input, button {
    margin-bottom: 10px;
}

.current-title {
    grid-column: span 2;
}

.current-weather-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns, auto for left, 1fr for right */
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(147, 155, 165, 1);
    background-color: rgba(159, 188, 228, 1);
    box-shadow: inset gray 0px 0px 30px -12px;
}
  
.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-column {
    text-align: left;
}

.current-temperature {
    font-weight: bold;
    font-size: 30px;
}

.current-description {
    font-weight: bold;
    font-size: 20px;
}
  
.temperature {
    margin-top: auto; /* Push the temperature to the bottom of the left column */
}

.hourly-forecast {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Limit the width of the container */
    margin-bottom: 50px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: red green; /* Scrollbar color and track color */
}

.hourly-forecast::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.hourly-forecast::-webkit-scrollbar-thumb {
    background-color: rgba(61, 95, 119, 1); /* Color of the thumb (handle) */
    border-radius: 10px; /* Round corners of the thumb */
}

.hourly-forecast::-webkit-scrollbar-track {
    background-color: rgba(106, 140, 172, 1); /* Color of the track (bar behind the thumb) */
    border-radius: 10px; /* Set the border radius to make it rounded */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 1);
}
  
.hourly-card {
    border: 1px solid rgba(147, 155, 165, 1);
    box-shadow: inset gray 0px 0px 20px -12px;
    background-color: rgba(159, 188, 228, 1);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    min-width: 80px; /* Set a minimum width for each hourly card */
}

.hourly-time {
    font-weight: bold;
}

.forecast-container {
    display: flex;
    justify-content: center;
}

.forecast-day {
    border: 1px solid rgba(147, 155, 165, 1);
    box-shadow: inset gray 0px 0px 20px -12px;
    background-color: rgba(159, 188, 228, 1);
    padding: 10px;
    margin-right: 10px;
}

.date {
    font-weight: bold;
}
